* {
    font-family: 'europa', 'helvetica neue', sans-serif;
    font-weight: inherit;
    font-style: inherit;
    font-size: initial;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 10px 0;
}

h2 {
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 10px 0;
}

input {
    background: transparent;
    border: 1px solid $medium-grey;
    border-radius: 3px;
    box-shadow: none;
    padding: 10px 15px;
}

.input__container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    label {
        margin: 0 0 10px 0;
    }
}

button {
    background: $light;
    border: 1px solid $medium-grey;
    border-radius: 3px;
    box-shadow: none;
    padding: 10px 35px;
    transition: all 150ms;
    transition: transform 10ms;
    &:hover {
        background: darken($light, 5%);
    }
    &:focus {
        background: darken($light, 5%);
    }
    &:active {
        transform: translate(1px, 1px)
    }
}

header {
    background-color: $dark;
    height: 75px;
    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    color: $light;
}

main {
    flex-grow: 2;
    padding: 20px 0;
    background: $light-grey;
}

section {
    background: $light;
    padding: 20px 10px;
    margin: 20px 0;
}

table {
    width: 100%;
    th {
        color: $dark;
        font-weight: 700;
    }
    td {
        color: $dark-grey;
    }
    td,
    th {
        border-bottom: 1px solid $dark-grey;
        padding: 10px 5px;
        text-align: left;
    }
    .active {
        background-color: lighten($light-green, 25%);
    }
}

.inner {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    &.inner--small {
        max-width: 750px;
    }
}

.root__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.loading__container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}