@import url('https://use.typekit.net/ntw7erw.css');
$dark: #272727;
$light: #FFFFFF;
$dark-grey: #424242;
$medium-grey: #DEDEDE;
$light-grey: #f6f6f6;
$lighter-grey: #F8F8F8;
$dark-red: #A62121;
$red: #D00202;
$light-red: #FCF2F3;
$yellow: #FFCE0D;
$dark-blue: #010E2A;
$light-blue: #EDF0F5;
$light-green: #79FF97;
$light-yellow: #FFFA79;
$breakpoint-mobile: 768px;
$breakpoint-desktop: 768px;